@import url('../font/Cantarell.css');
@import url('../font/Oswald-everything.css');
@import url('../font/Oswald-Light.css');
@import url('../font/Oswald.css');

$title-font: Oswald;
$content-font: Cantarell;
$light: 300;
$regular: 400;