@import 'font.scss';
@import 'color.scss';
@import 'mixin.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:hover {
		cursor: pointer;
	}
}

img {
	display: block;
	height: auto;
}

span {
	display: block;
}

h1,
h2,
h3,
h4 {
	font-family: Oswald;
	font-weight: $regular;
	>* {
		color: $grey;
	}
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 19px;
}

p {
	font-family: $content-font;
	color: $content-color;
	font-weight: $regular;
}

@keyframes fade {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}

@keyframes drop-down {
	from {
		top: 0;
		opacity: 0;
	}

	to {
		top: 100%;
		opacity: 1;
	}
}

.container {
	width: 90%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	padding: 0 10px;
}

.logo {
	img {
		max-width: 210px;
	}
}

.button {
	a {
		transition: 0.3s;
		font-family: Cantarell;
		font-family: $regular;
		font-size: 19px;

		&:hover {
			background-color: $grey;
			color: $white;
		}
	}
}
input[type='submit'] {
	transition: 0.2s;

	&:hover {
		background-color: $grey !important;
		color: $white !important;
		cursor: pointer;
	}
}


.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 70%;
	color: $white;
	font-size: 30px;

	.menu-icon {
		&:hover {
			cursor: pointer;
		}
	}

	ul {
		animation: drop-down 0.5s;

		li {
			height: 100%;
			text-align: right;

			a {
				color: $white;
				font-family: Oswald;
				font-weight: $light;		
				background-color: rgba(0, 0, 0, 0.5);
				border: solid 1px $white;

				&:hover {
					background-color: rgba(0, 0, 0, 0.7);
				}
			}


			&:not(:last-child) {

				a {
					padding: 10px 5%;
					text-align: right;
					display: block;
					width: 100%;
					height: 100%;
					font-size: 20px;
				}
			}
		}
	}
}

#main-menu {
	width: 50%;
	display: none;
	position: absolute;
	top: 100%;
	right: 10px;
	&.active {
		display: block;
	}
}

.languages {
	a {
		padding: 5px;
		border-radius: 10px;
		border: solid 1px $white;
		font-size: 0.5em;
		background-color: rgba(0, 0, 0, 0.5);
		&:hover {
			background-color: rgba(0, 0, 0, 0.7);
		}
	}
}

.dot {
	span {
		&:hover {
			cursor: pointer;
		}
	}
}

.direction {
	>div {
		height: 100%;
		transition: all 0.3s;

		img {
			height: 100%;
			width: auto;
		}

		&:hover {
			cursor: pointer

		}
	}
}

.sticky-header {
	position: sticky;
	z-index: 5;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: auto;
	.container {
		position: relative;
		padding: 17px 10px 17px 0;
		height: 100%;
		.logo {
			display: flex;
			align-items: center;
			width: 30%;
			height: auto;

			img {
				height: auto;
				width: 100%;
				max-width: 210px;
			}
		}
	}
}

.full-width {
	width: 100%;
	height: auto;
}
.title-grey {
	color: $grey;
}
.button {
	a {
		text-align: center;
		width: 100%;
		color: $grey;
		border: solid $grey 1px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 5% 10%;

	}
}
.mg-m-bt {
	margin-bottom: 50px;
}






/*for footer*/
.footer-area {
	width: 100%;
}
.footer-menu {
	background-color: darken($grey, 20%);

	a.footer-menu-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $white;
		width: 100%;
		height: 100%;
		background-color: #575757;
		transition: 0.2s;

		&.active {
			background-color: #a1a09e;
		}

		&:hover:not(.active) {
			background-color: lighten(#575757, 5%);
		}
	}

	width: 100%;
	display: flex;
	>div {
		width: 100%;
		height: 100px;
		// padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: 20px;
			width: auto;
			margin-right: 7%;
		}

		h2 {
			font-weight: $light;
			font-size: 14px;
		}

		>* {
			&:not(:last-child) {
				margin-right: 2%;
			}
		}
	}
}

.footer {
	.container {
		width: 100%;
		flex-direction: column;
	}

	color: $white;
	background-color: $black;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		color: $white;
		font-size: 15px;
		font-weight: 300;
		font-family: Oswald;
	}

	.col {
		text-align: center;
		width: 62.5%;
		max-width: 1200px;
		margin: auto;

		&.col-2 {
			a {
				color: unset;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&:not(:first-child) {
			margin-bottom: 30px;
		}

		>* {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}


	.col-1 {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 0;
	}

	.social-link {
		display: flex;
		justify-content: center;
		align-items: center;

		>* {
			&:not(:last-child) {
				margin-right: 5%;
			}
		}
	}


	form {
		width: 90%;
		margin: auto;
		position: relative;

		input {
			display: block;
			width: 100%;
			padding: 10px 35px 10px 10px;
			border: solid $white 2px;
			background-color: $black;
			outline: none;
			color: $white;
			overflow: hidden;
			text-overflow: ellipsis;

		}

		button {
			height: 100%;
			padding: 5px;
			position: absolute;
			top: 0;
			right: 0;
			color: $black;
			font-weight: bold;
			font-family: Oswald;

			&:hover {
				cursor: pointer;
			}
		}
	}
}


.mrgn-t-60 {
	margin-top: 60px;
}


.mrgn-bt-0 {
	margin-bottom: 0;
}

.fnt-sz-20 {
	font-size: 0.8*20px;
}

.txt-cntr {
	text-align: center;
}

.mrgn-auto {
	margin: auto;
}

.txt-lft {
	text-align: left;
}

.clr-blck {
	color: $black
}

.mrgn-bt-115 {
	margin-bottom: 0.6*115px;
}


.mrgn-t-b-120 {
	margin: 0.6*120px auto;
}

.cntr-item {
	display: flex;
	justify-content: center;
}


.pddng-t-b-100 {
	padding: 0 0.6*100px;

	img {
		width: 100%;
	}
}


.mrgn-t-b-55 {
	margin: 55px auto;
}

.mrgn-bt-80 {
	margin-bottom: 0.6*80px;
}

.mrgn-bt-100 {
	margin-bottom: 0.6*100px;
}

.flx-drctn {
	flex-direction: column;
}

.cntr-blck {
	display: flex;
	align-self: center;
}

.background-black-30 {
	background-color: rgba(0, 0, 0, 0.3);
}

.static-banner {
	width: 100%;
	height: auto;
	background-color: $white;
	.container {
		padding: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

