@import 'general.scss';
@import 'font.scss';
@import 'color.scss';
@import 'mixin.scss';

/*import for every page*/
@import './pages/index.scss';
@import './pages/news.scss';
@import './pages/contact.scss';
@import './pages/distributors.scss';
@import './pages/experiences-closed-tab.scss';
@import './pages/produit.scss';
// index page

//for produit






.product-image {
	img {
		width: 100%;
		height: auto;
	}
}

.description {
	h2 {
		font-size: 25px;
		// position: relative;

		margin-bottom: 15px;

		&::after {
			content: "";
			display: block;
			// position: absolute;
			height: 5px;
			margin-top: 25px;
			// top: 50px;
			width: 138px;
			background-color: $white;
		}
	}

	p {
		font-size: 14px;
	}
}

#caracteristiques {
	background-color: $content-color;
	color: $white;

	p {
		color: $white;
	}

	.container {
		.description {
			margin: 20px auto 20px auto;
		}

		flex-direction: column;
		justify-content: center;
		align-self: center;
	}


}

.no-padding {
	padding: 0;
}

//for moteur
#moteur {
	.container {
		padding: 20px 0;
		flex-direction: column;

		.description {

			h2 {
				&::after {
					background-color: $content-color;

				}
			}

			p {
				font-weight: bold;
				color: $black;
			}
		}
	}
}

#batterie {
	background-color: $light-grey;

	.container {
		flex-direction: column;
	}

	.description {
		* {
			color: $white;
		}

		margin-bottom: 5%;
	}

	.product-image {
		img {
			width: 100%;
			max-width: 338px;
			margin: auto;
		}
	}
}


#propulsion {
	.container {
		padding-top: 30px;
		padding-bottom: 30px;
		flex-direction: column;

	}


	.description {
		padding: 30px;
		background-color: rgba(0, 0, 0, 0.6);

		* {
			color: $white;
		}

		#flotteurs {
			margin-top: 30px;

			&:after {
				margin-top: 0;
			}
		}
	}
}


#accessories {
	padding-bottom: 90px;

	.carousel {
		display: flex;
		width: 90%;
		margin: auto;
		position: relative;
	}

	.container {


		.owl-stage-outer {
			width: 90%;
			margin: auto;
		}

		.owl-next,
		.owl-prev {
			width: 4%;
			height: auto;

			img {
				width: 100%;
			}
		}
	}

}

.arrow {
	display: none;

	// position: absolute;
	>div {
		width: 20px;
		top: 40%;
		transform: translateY(-50%);
		position: absolute;
		// padding: 10px;
		background-color: rgba(0, 0, 0, 0.1);

		img {
			width: 100%;
			height: auto;
		}
	}

	width: 100%;
	position: absolute;
	top: 14%;
	transform: translateY(-50%);

	.owl-prev {
		position: absolute;
		left: 0;
		top: 0;
	}



	.owl-next {
		position: absolute;
		top: 0;
		right: 0;

	}
}

.owl-next,
.owl-prev {
	&:focus {
		outline: none;
	}
}

.carousel-items {
	width: 100%;

	>.item {
		animation: fade 0.2s;
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
		}

		&:not(:first-child) {
			display: none;
		}

		p {
			font-size: 20px;
			font-family: Oswald;
		}
	}
}





#gallerie {
	.container {
		flex-direction: column;
	}
}

.image-grid-container {
	width: 90%;
	margin: auto;

	img {
		width: 100%;
		height: auto;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}


//page contact


#experiences-banner {
	position: relative;
	overflow: hidden;

	.container {
		width: 100%;
		height: auto;
		max-width: unset;
	}

	.banner-blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}

	}

	p {
		position: absolute;
		top: 50%;

		font-size: 0.6*40px;
		color: $white;
		font-family: Oswald;

		&,
		&:after {
			text-shadow: 0 7px 10px #bdbdbd;
		}

		&:after {
			content: '';
			width: 100%;
			height: 4px;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: $white;
		}

		left: 50%;
		transform: translate(-50%, -50%);
	}


}






/* for desktop */

@media screen and (min-width: 700px) {


	h1 {
		font-weight: $regular;
		font-size: 40px;
	}

	h2 {
		font-weight: $regular;
		font-size: 29px;
	}

	h3 {
		font-weight: $regular;
		font-size: 23px;
	}



	.sticky-header {

		.container {
			padding: 27px 10px 27px 0;
		}
	}

	.direction {
		height: 120px;

		>div {
			padding: 10px;

			&:hover {
				background-color: rgba(0, 0, 0, 0.3);
			}
		}

	}

	.row-1 {
		.container {
			flex-direction: row;
			padding: 97px 10px 73px 10px;

			.col {
				width: 25.6%;
				margin-top: 0;

				&:not(:last-child) {
					margin-right: 11.6%;
				}
			}
		}
	}

	//row-1

	.row-2 {
		.container {
			>div {
				display: flex;
				flex-wrap: wrap;

				.block {
					margin-bottom: 25px;
					width: 49%;

					a:hover {
						text-decoration: underline;
					}

					&:nth-child(odd) {
						margin-right: 2%;
					}
				}
			}
		}
	}

	// row-2

	.row-3 {
		.container {
			>div {
				display: flex;
				flex-wrap: wrap;
			}

			.col {
				width: 45%;
				margin-bottom: 30px;

				&:nth-child(odd) {
					margin-right: 5%;
				}
			}
		}
	}


	.footer {

		.container {
			margin-top: 30px;
			display: flex;
			flex-direction: row;
			// width: 62.5%;
		}

		form {
			display: inline-block;
		}

		.col {

			// width: 25%;
			margin: 0;
			text-align: left;
			// &:not(:first-child):not(:last-child){
			// 	margin-left: 5%;
			// }
		}

		.col-1 {
			width: 32%;

			.logo {
				display: flex;
				justify-content: center;
				width: 80%;

				img {
					width: 100%;
					height: auto;
				}
			}

			a {
				display: block;
			}
		}

		.col-2 {
			width: 23%;
			margin-right: 2%;
		}

		.col-3 {
			width: 23%;
			margin-right: 2%;
		}

		.col-4 {
			width: 18%;
		}

		.social-link {
			justify-content: unset;

			a {
				&:not(:last-child) {
					margin-right: 10%;
				}
			}
		}

	}




	#specification {
		.button {
			a {
				font-size: 27px;
			}
		}
	}





	// content produit



	#caracteristiques {
		.container {
			padding: 85px 0 0 50px;
			flex-direction: row;
			align-items: flex-start;

			.description {
				//	margin: 88px auto 228px auto;
				width: 40%;
				height: auto;



			}

			.product-image {
				width: 60%;
				height: auto;
			}
		}
	}

	#moteur {
		.container {
			padding: 0;
			flex-direction: row;

			.product-image {
				width: 55%;
				height: auto;
			}

			.description {

				width: 45%;
				height: auto;
				padding: 5% 0 0 5%;
			}
		}
	}

	#batterie {
		.container {
			padding: 85px 0 100px 50px;
			flex-direction: row;
			align-items: flex-start;

			.description {
				//	margin: 88px auto 228px auto;
				width: 40%;
				height: auto;
				margin-bottom: 0;



			}

			.product-image {
				width: 60%;
				height: auto;
			}
		}
	}


	#propulsion {
		.container {
			flex-direction: row;
			justify-content: flex-end;

		}

		.product-image {
			width: 60%;
			margin-top: 20px;
		}

		.description {
			margin-top: 85px;
			width: 30%;
			height: fit-content;
		}
	}

	.footer-menu {
		>div {
			h2 {
				font-size: 30px;
			}

			img {
				width: auto;
				height: auto;
			}
		}

		a.footer-menu-item {
			flex-direction: row;
		}
	}



	#experiences-banner p {
		font-size: 40px;
	}

	.arrow {
		display: block;
	}




	.image-grid-container {
		display: flex;
		flex-wrap: wrap;

		img {
			width: 40%;
			max-width: 288px;
			max-height: 288px;
			height: 100%;
			margin: 0 auto 0 auto;
			margin-bottom: 70px;

			// &:not(:nth-child(3n)){
			// 	margin-right:auto;
			// 	margin-left: auto;
			// }
			// &:nth-child(3n){
			// 	margin-left: auto;

			// 	margin-right:auto;
			// }
			// margin: 0 auto 70px auto;
		}

	}

	.contact-form {
		form {
			input {
				width: 50%;
			}
		}
	}

	#actualites {
		.block {

			width: 30%;

			.button {
				width: 66%;
			}

		}
	}


	.fnt-sz-20 {
		font-size: 20px;
	}

	.mrgn-bt-115 {
		margin-bottom: 115px;
	}

	.mrgn-t-b-120 {
		margin: 120px auto;
	}

	.mrgn-bt-100 {
		margin-bottom: 100px;
	}

	// .pddng-t-b-100{
	// padding-top: 100px;
	// padding-bottom: 100px;
	// }


	.mrgn-bt-80 {
		margin-bottom: 80px;
	}


	.flx-drctn {
		flex-direction: row;
	}

}

//media 700px



@media screen and (min-width: 1280px) {
	.sticky-header {
		position: fixed;
	}

	.container {
		width: 62.5%;
	}

	.logo {
		a {
			img {
				width: 50%;
			}
		}
	}

	.menu {

		// border: solid;
		.menu-icon {
			display: none;
		}

		#main-menu {
			width: 100%;
			height: 100%;
			transition: 0.4s;
			display: flex;
			position: initial;
			justify-content: flex-end;
			align-items: center;

			li {
				&:not(:last-child) {
					margin-right: 5%;

					a {
						position: relative;

						&:after {
							content: url('../img/general/ellipse1.png');
							display: none;
						}

						padding: unset;
						font-size: 20px;

						&:hover:after {
							display: block;
							position: absolute;
							top: -5px;
							left: -20px;
							// // color: darken($white, 40%);
							// background-image: url('../img/Ellipse1.png');
							// background-size: auto 100%;
							// background-repeat: no-repeat;
						}
					}
				}

				&:nth-child(5) {
					margin-right: 5%;
				}
			}


			a {
				&:hover {
					// font-weight: 500;
					text-shadow: 0 0 0 $white, 0 0 0 $white, 0 0 0 $white;
				}

				display: flex;
				align-items: center;
				border: none;
				background: unset;
				// padding: 12px 10%;


			}
		}
	}

	.languages {
		display: flex;

		a {
			padding: unset;
			font-size: 15px;

			&:not(:first-child) {
				&:before {
					content: "";
					height: 20%;
					width: 1px;
					margin: auto 5px;
					display: block;
					background-color: $white;
				}
			}
		}
	}

	.row-3 {
		margin-bottom: 145px;

		.container {
			>div {
				display: flex;

			}

			.col {
				width: 24%;

				&:not(:last-child) {
					// margin-bottom: 0;
					margin-right: 1%;
				}
			}
		}
	}


	#accessories {
		.carousel {
			width: 100%;
		}

		.carousel-items {
			width: 90%;
			margin: auto;
			display: flex;

			.item {
				width: 30%;
				display: block;
				margin: auto;
				margin-top: 0;

				p {
					font-size: 25px;
					text-align: center;
				}
			}
		}

		.arrow {
			>div {
				width: 3%;
				background-color: unset;
				top: 30%;

				&:hover {
					cursor: pointer;
					background-color: rgba(0, 0, 0, 0.2);
					transition: 0.2s;

				}
			}
		}
	}

	#gallerie {
		padding-bottom: 70px;
	}

	.image-grid-container {
		display: flex;
		flex-wrap: wrap;

		img {
			width: 30%;
			max-width: 288px;
			max-height: 288px;
			height: 100%;
			margin: 0 auto 0 auto;
			margin-bottom: 70px;

			// &:not(:nth-child(3n)){
			// 	margin-right:auto;
			// 	margin-left: auto;
			// }
			// &:nth-child(3n){
			// 	margin-left: auto;

			// 	margin-right:auto;
			// }
			// margin: 0 auto 70px auto;
		}
	}



	//experiences
	#experiences-banner {
		margin-bottom: 148px;

		p {
			top: 60%;
		}
	}

	.article {
		margin-bottom: 115px;

		.content {
			display: flex;

			>div {

				padding: 60px 55px 60px 0;

				&:nth-child(2) {
					padding-top: 60px;
				}

				&:nth-child(1) {
					padding-left: 60px;
				}

				>p {
					padding: 55px 45px !important;
				}

			}
		}
	}



	#actualites {
		flex-wrap: wrap;

		.block {
			margin: 0 7.5%;
			width: 23.3333%;

			&:nth-child(3n+1) {
				margin-right: 0;
			}

			&:nth-child(3n) {
				margin-left: 0;
			}


			margin-bottom: 140px;

			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9) {
				margin-bottom: 20px;
			}
		}


	}

	.mrgn-bt-0#experiences-banner {
		margin-bottom: 0;
	}


	.footer-menu {
		background-color: #575757;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		>div {
			width: 20%;
			height: 100px;
		}
	}

	//footer-menu


}