@import url("../font/Cantarell.css");
@import url("../font/Oswald-everything.css");
@import url("../font/Oswald-Light.css");
@import url("../font/Oswald.css");
@import url("../font/Cantarell.css");
@import url("../font/Oswald-everything.css");
@import url("../font/Oswald-Light.css");
@import url("../font/Oswald.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

span {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: Oswald;
  font-weight: 400;
}
h1 > *,
h2 > *,
h3 > *,
h4 > * {
  color: #7a7a7a;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 19px;
}

p {
  font-family: Cantarell;
  color: #5b5b5b;
  font-weight: 400;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes drop-down {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}
.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 0 10px;
}

.logo img {
  max-width: 210px;
}

.button a {
  transition: 0.3s;
  font-family: Cantarell;
  font-family: 400;
  font-size: 19px;
}
.button a:hover {
  background-color: #7a7a7a;
  color: #fff;
}

input[type=submit] {
  transition: 0.2s;
}
input[type=submit]:hover {
  background-color: #7a7a7a !important;
  color: #fff !important;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  color: #fff;
  font-size: 30px;
}
.menu .menu-icon:hover {
  cursor: pointer;
}
.menu ul {
  animation: drop-down 0.5s;
}
.menu ul li {
  height: 100%;
  text-align: right;
}
.menu ul li a {
  color: #fff;
  font-family: Oswald;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #fff;
}
.menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.menu ul li:not(:last-child) a {
  padding: 10px 5%;
  text-align: right;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

#main-menu {
  width: 50%;
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
}
#main-menu.active {
  display: block;
}

.languages a {
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #fff;
  font-size: 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
}
.languages a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.dot span:hover {
  cursor: pointer;
}

.direction > div {
  height: 100%;
  transition: all 0.3s;
}
.direction > div img {
  height: 100%;
  width: auto;
}
.direction > div:hover {
  cursor: pointer;
}

.sticky-header {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: auto;
}
.sticky-header .container {
  position: relative;
  padding: 17px 10px 17px 0;
  height: 100%;
}
.sticky-header .container .logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: auto;
}
.sticky-header .container .logo img {
  height: auto;
  width: 100%;
  max-width: 210px;
}

.full-width {
  width: 100%;
  height: auto;
}

.title-grey {
  color: #7a7a7a;
}

.button a {
  text-align: center;
  width: 100%;
  color: #7a7a7a;
  border: solid #7a7a7a 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

.mg-m-bt {
  margin-bottom: 50px;
}

/*for footer*/
.footer-area {
  width: 100%;
}

.footer-menu {
  background-color: #474747;
  width: 100%;
  display: flex;
}
.footer-menu a.footer-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #575757;
  transition: 0.2s;
}
.footer-menu a.footer-menu-item.active {
  background-color: #a1a09e;
}
.footer-menu a.footer-menu-item:hover:not(.active) {
  background-color: #646464;
}
.footer-menu > div {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-menu > div img {
  height: 20px;
  width: auto;
  margin-right: 7%;
}
.footer-menu > div h2 {
  font-weight: 300;
  font-size: 14px;
}
.footer-menu > div > *:not(:last-child) {
  margin-right: 2%;
}

.footer {
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .container {
  width: 100%;
  flex-direction: column;
}
.footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  font-family: Oswald;
}
.footer .col {
  text-align: center;
  width: 62.5%;
  max-width: 1200px;
  margin: auto;
}
.footer .col.col-2 a {
  color: unset;
}
.footer .col.col-2 a:hover {
  text-decoration: underline;
}
.footer .col:not(:first-child) {
  margin-bottom: 30px;
}
.footer .col > *:not(:last-child) {
  margin-bottom: 20px;
}
.footer .col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-link > *:not(:last-child) {
  margin-right: 5%;
}
.footer form {
  width: 90%;
  margin: auto;
  position: relative;
}
.footer form input {
  display: block;
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: solid #fff 2px;
  background-color: #000;
  outline: none;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer form button {
  height: 100%;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-weight: bold;
  font-family: Oswald;
}
.footer form button:hover {
  cursor: pointer;
}

.mrgn-t-60 {
  margin-top: 60px;
}

.mrgn-bt-0 {
  margin-bottom: 0;
}

.fnt-sz-20 {
  font-size: 16px;
}

.txt-cntr {
  text-align: center;
}

.mrgn-auto {
  margin: auto;
}

.txt-lft {
  text-align: left;
}

.clr-blck {
  color: #000;
}

.mrgn-bt-115 {
  margin-bottom: 69px;
}

.mrgn-t-b-120 {
  margin: 72px auto;
}

.cntr-item {
  display: flex;
  justify-content: center;
}

.pddng-t-b-100 {
  padding: 0 60px;
}
.pddng-t-b-100 img {
  width: 100%;
}

.mrgn-t-b-55 {
  margin: 55px auto;
}

.mrgn-bt-80 {
  margin-bottom: 48px;
}

.mrgn-bt-100 {
  margin-bottom: 60px;
}

.flx-drctn {
  flex-direction: column;
}

.cntr-blck {
  display: flex;
  align-self: center;
}

.background-black-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.static-banner {
  width: 100%;
  height: auto;
  background-color: #fff;
}
.static-banner .container {
  padding: 0;
}
.static-banner .container img {
  width: 100%;
  height: 100%;
}

/*import for every page*/
.slider.banner {
  width: 100%;
  position: relative;
}
.slider.banner .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.slide-image {
  animation: fade 5s;
  width: 100%;
  height: auto;
}
.slide-image img {
  height: 100%;
  width: 100%;
}

.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot span {
  width: 10px;
  height: 10px;
  border: solid #fff 1px;
  border-radius: 50%;
}
.dot span:not(:last-child) {
  margin-right: 10px;
}
.dot span.active {
  background-color: #fff;
}

.direction {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  transform: translate(-50%, -50%);
}
.direction .prev {
  position: inherit;
  left: 0;
  top: 0;
}
.direction .next {
  position: inherit;
  top: 0;
  right: 0;
}

.row {
  width: 100%;
  height: auto;
}

.row-1 img {
  width: 100%;
  height: 100%;
}
.row-1 .container {
  flex-direction: column;
  padding-top: 40px;
}
.row-1 .container > *:not(:first-child) {
  margin-top: 30px;
}
.row-1 .container .col > *:not(:last-child) {
  margin-bottom: 20px;
}

.row-2 {
  margin-bottom: 70px;
}
.row-2 img {
  width: 100%;
  height: auto;
}
.row-2 .container {
  flex-direction: column;
}
.row-2 .block {
  position: relative;
}
.row-2 .block > div {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.row-2 .block > div h3 a {
  color: #fff;
}
.row-2 .block:not(:last-child) {
  margin-bottom: 20px;
}

.container > h2 {
  margin-bottom: 35px;
}
.container > h2:after {
  content: "";
  height: 2px;
  width: 78px;
  background-color: #7a7a7a;
  display: block;
  margin-top: 10px;
}

.row-3 {
  margin-bottom: 40px;
}
.row-3 .container {
  flex-direction: column;
}
.row-3 .container .col {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row-3 .container .col h2 a:hover {
  text-decoration: underline;
}
.row-3 .container .col > *:not(:last-child) {
  margin-bottom: 20px;
}
.row-3 .container .col:not(:last-child) {
  margin-bottom: 30px;
}
.row-3 .container .col p {
  width: 78.5%;
  text-align: justify;
}
.row-3 .container .col .thumbnail-image {
  width: 100%;
}
.row-3 .container .col img {
  width: 100%;
  height: auto;
}

#actualites {
  flex-wrap: wrap;
}
#actualites .block {
  margin: auto;
  width: 80%;
}
#actualites .block > * {
  margin-bottom: 35px;
}
#actualites .block img {
  width: 100%;
}
#actualites .block p {
  color: #7a7a7a;
}
#actualites .block .title {
  text-align: center;
  font-size: 29px;
  font-family: Oswald;
  font-weight: 400;
}
#actualites .block .text {
  text-align: justify;
  font-size: 16px;
  font-family: Cantarell;
}
#actualites .block .button {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

#contact-banner {
  position: relative;
  overflow: hidden;
}
#contact-banner .banner-blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#contact-banner .banner-blur img {
  width: 100%;
  height: 100%;
}
#contact-banner p {
  position: absolute;
  top: 60%;
  font-size: 40px;
  color: #fff;
  font-family: Oswald;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contact-banner p, #contact-banner p:after {
  text-shadow: 0 7px 10px #bdbdbd;
}
#contact-banner p:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

.contact-form {
  padding: 90px 0;
}
.contact-form .container {
  flex-direction: column;
}
.contact-form p {
  text-align: center;
  font-family: Cantarell;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.contact-form form {
  width: 90%;
  margin: 85px auto 10px auto;
  color: black;
}
.contact-form form > *:not(:last-child) {
  margin-bottom: 22px;
}
.contact-form form input,
.contact-form form textarea {
  display: block;
  border: none;
  background-color: #eceff2;
  width: 100%;
  height: 35px;
  padding: 0 2%;
}
.contact-form form input:focus,
.contact-form form textarea:focus {
  outline: none;
}
.contact-form form textarea {
  width: 100%;
  height: unset;
  padding: 10px 2%;
}
.contact-form form p {
  text-align: unset;
}
.contact-form form input[type=submit] {
  color: #7a7a7a;
  background-color: unset;
  border: solid 1px #7a7a7a;
  font-size: 20px;
  max-width: 154px;
}
.contact-form form input[type=submit]:focus {
  outline: none;
}

.row-4-6 > *:first-child {
  width: 40%;
}
.row-4-6 > *:last-child {
  width: 60%;
}

.article {
  flex-direction: column;
  margin-bottom: 50px;
}
.article p {
  font-family: Cantarell;
  font-size: 15px;
  color: #000;
}
.article .content {
  background-color: #f2efe9;
}
.article .content div {
  padding: 60px 55px;
}
.article .content div:nth-child(2) {
  padding-top: 0;
}
.article .content div:nth-child(2) p {
  padding: 20px;
  background-color: #fff;
}
.article .title {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 20px 18px 25px 18px;
  width: 100%;
}
.article .title .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
}
.article .title p {
  font-family: Oswald;
  font-weight: 400;
  font-size: 37px;
  text-shadow: 0 2px 5px #7a7a7a;
  color: #fff;
}

.article-1 .title {
  background-image: url("../img/experiences-closed-tab/article1.jpg");
}

.article-2 .title {
  background-image: url("../img/experiences-closed-tab/hotelsandlocations.jpg");
}

.article-3 .title {
  background-image: url("../img/experiences-closed-tab/evements.jpg");
}

.article-4 .title {
  background-image: url("../img/experiences-closed-tab/ad.jpg");
}

#specifications {
  background-image: url("../img/produit/photocustomer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
#specifications .container {
  justify-content: center;
  padding: 10%;
}
#specifications .container h1 a {
  color: #fff;
  text-decoration: underline;
  transition: 0.2s;
  font-weight: lighter;
}
#specifications .container h1 a:hover {
  color: #4d4d4d;
}
#specifications .button {
  position: absolute;
  bottom: 5%;
  right: 3.75%;
  background-color: #fff;
}
#specifications .button a {
  border: none;
  color: #fc0000;
  font-size: 14px;
  font-weight: 400;
  font-family: Oswald;
}
#specifications .button a:hover {
  background-color: #fc0000;
  color: #fff;
}

.product-image img {
  width: 100%;
  height: auto;
}

.description h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.description h2::after {
  content: "";
  display: block;
  height: 5px;
  margin-top: 25px;
  width: 138px;
  background-color: #fff;
}
.description p {
  font-size: 14px;
}

#caracteristiques {
  background-color: #5b5b5b;
  color: #fff;
}
#caracteristiques p {
  color: #fff;
}
#caracteristiques .container {
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
#caracteristiques .container .description {
  margin: 20px auto 20px auto;
}

.no-padding {
  padding: 0;
}

#moteur .container {
  padding: 20px 0;
  flex-direction: column;
}
#moteur .container .description h2::after {
  background-color: #5b5b5b;
}
#moteur .container .description p {
  font-weight: bold;
  color: #000;
}

#batterie {
  background-color: #969696;
}
#batterie .container {
  flex-direction: column;
}
#batterie .description {
  margin-bottom: 5%;
}
#batterie .description * {
  color: #fff;
}
#batterie .product-image img {
  width: 100%;
  max-width: 338px;
  margin: auto;
}

#propulsion .container {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}
#propulsion .description {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
}
#propulsion .description * {
  color: #fff;
}
#propulsion .description #flotteurs {
  margin-top: 30px;
}
#propulsion .description #flotteurs:after {
  margin-top: 0;
}

#accessories {
  padding-bottom: 90px;
}
#accessories .carousel {
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
}
#accessories .container .owl-stage-outer {
  width: 90%;
  margin: auto;
}
#accessories .container .owl-next,
#accessories .container .owl-prev {
  width: 4%;
  height: auto;
}
#accessories .container .owl-next img,
#accessories .container .owl-prev img {
  width: 100%;
}

.arrow {
  display: none;
  width: 100%;
  position: absolute;
  top: 14%;
  transform: translateY(-50%);
}
.arrow > div {
  width: 20px;
  top: 40%;
  transform: translateY(-50%);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}
.arrow > div img {
  width: 100%;
  height: auto;
}
.arrow .owl-prev {
  position: absolute;
  left: 0;
  top: 0;
}
.arrow .owl-next {
  position: absolute;
  top: 0;
  right: 0;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}

.carousel-items {
  width: 100%;
}
.carousel-items > .item {
  animation: fade 0.2s;
  width: 100%;
  height: auto;
}
.carousel-items > .item img {
  width: 100%;
  height: auto;
}
.carousel-items > .item:not(:first-child) {
  display: none;
}
.carousel-items > .item p {
  font-size: 20px;
  font-family: Oswald;
}

#gallerie .container {
  flex-direction: column;
}

.image-grid-container {
  width: 90%;
  margin: auto;
}
.image-grid-container img {
  width: 100%;
  height: auto;
}
.image-grid-container img:not(:last-child) {
  margin-bottom: 20px;
}

#experiences-banner {
  position: relative;
  overflow: hidden;
}
#experiences-banner .container {
  width: 100%;
  height: auto;
  max-width: unset;
}
#experiences-banner .banner-blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#experiences-banner .banner-blur img {
  width: 100%;
  height: 100%;
}
#experiences-banner p {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  font-family: Oswald;
  left: 50%;
  transform: translate(-50%, -50%);
}
#experiences-banner p, #experiences-banner p:after {
  text-shadow: 0 7px 10px #bdbdbd;
}
#experiences-banner p:after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

/* for desktop */
@media screen and (min-width: 700px) {
  h1 {
    font-weight: 400;
    font-size: 40px;
  }

  h2 {
    font-weight: 400;
    font-size: 29px;
  }

  h3 {
    font-weight: 400;
    font-size: 23px;
  }

  .sticky-header .container {
    padding: 27px 10px 27px 0;
  }

  .direction {
    height: 120px;
  }
  .direction > div {
    padding: 10px;
  }
  .direction > div:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .row-1 .container {
    flex-direction: row;
    padding: 97px 10px 73px 10px;
  }
  .row-1 .container .col {
    width: 25.6%;
    margin-top: 0;
  }
  .row-1 .container .col:not(:last-child) {
    margin-right: 11.6%;
  }

  .row-2 .container > div {
    display: flex;
    flex-wrap: wrap;
  }
  .row-2 .container > div .block {
    margin-bottom: 25px;
    width: 49%;
  }
  .row-2 .container > div .block a:hover {
    text-decoration: underline;
  }
  .row-2 .container > div .block:nth-child(odd) {
    margin-right: 2%;
  }

  .row-3 .container > div {
    display: flex;
    flex-wrap: wrap;
  }
  .row-3 .container .col {
    width: 45%;
    margin-bottom: 30px;
  }
  .row-3 .container .col:nth-child(odd) {
    margin-right: 5%;
  }

  .footer .container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }
  .footer form {
    display: inline-block;
  }
  .footer .col {
    margin: 0;
    text-align: left;
  }
  .footer .col-1 {
    width: 32%;
  }
  .footer .col-1 .logo {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .footer .col-1 .logo img {
    width: 100%;
    height: auto;
  }
  .footer .col-1 a {
    display: block;
  }
  .footer .col-2 {
    width: 23%;
    margin-right: 2%;
  }
  .footer .col-3 {
    width: 23%;
    margin-right: 2%;
  }
  .footer .col-4 {
    width: 18%;
  }
  .footer .social-link {
    justify-content: unset;
  }
  .footer .social-link a:not(:last-child) {
    margin-right: 10%;
  }

  #specification .button a {
    font-size: 27px;
  }

  #caracteristiques .container {
    padding: 85px 0 0 50px;
    flex-direction: row;
    align-items: flex-start;
  }
  #caracteristiques .container .description {
    width: 40%;
    height: auto;
  }
  #caracteristiques .container .product-image {
    width: 60%;
    height: auto;
  }

  #moteur .container {
    padding: 0;
    flex-direction: row;
  }
  #moteur .container .product-image {
    width: 55%;
    height: auto;
  }
  #moteur .container .description {
    width: 45%;
    height: auto;
    padding: 5% 0 0 5%;
  }

  #batterie .container {
    padding: 85px 0 100px 50px;
    flex-direction: row;
    align-items: flex-start;
  }
  #batterie .container .description {
    width: 40%;
    height: auto;
    margin-bottom: 0;
  }
  #batterie .container .product-image {
    width: 60%;
    height: auto;
  }

  #propulsion .container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #propulsion .product-image {
    width: 60%;
    margin-top: 20px;
  }
  #propulsion .description {
    margin-top: 85px;
    width: 30%;
    height: fit-content;
  }

  .footer-menu > div h2 {
    font-size: 30px;
  }
  .footer-menu > div img {
    width: auto;
    height: auto;
  }
  .footer-menu a.footer-menu-item {
    flex-direction: row;
  }

  #experiences-banner p {
    font-size: 40px;
  }

  .arrow {
    display: block;
  }

  .image-grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-grid-container img {
    width: 40%;
    max-width: 288px;
    max-height: 288px;
    height: 100%;
    margin: 0 auto 0 auto;
    margin-bottom: 70px;
  }

  .contact-form form input {
    width: 50%;
  }

  #actualites .block {
    width: 30%;
  }
  #actualites .block .button {
    width: 66%;
  }

  .fnt-sz-20 {
    font-size: 20px;
  }

  .mrgn-bt-115 {
    margin-bottom: 115px;
  }

  .mrgn-t-b-120 {
    margin: 120px auto;
  }

  .mrgn-bt-100 {
    margin-bottom: 100px;
  }

  .mrgn-bt-80 {
    margin-bottom: 80px;
  }

  .flx-drctn {
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .sticky-header {
    position: fixed;
  }

  .container {
    width: 62.5%;
  }

  .logo a img {
    width: 50%;
  }

  .menu .menu-icon {
    display: none;
  }
  .menu #main-menu {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    display: flex;
    position: initial;
    justify-content: flex-end;
    align-items: center;
  }
  .menu #main-menu li:not(:last-child) {
    margin-right: 5%;
  }
  .menu #main-menu li:not(:last-child) a {
    position: relative;
    padding: unset;
    font-size: 20px;
  }
  .menu #main-menu li:not(:last-child) a:after {
    content: url("../img/general/ellipse1.png");
    display: none;
  }
  .menu #main-menu li:not(:last-child) a:hover:after {
    display: block;
    position: absolute;
    top: -5px;
    left: -20px;
  }
  .menu #main-menu li:nth-child(5) {
    margin-right: 5%;
  }
  .menu #main-menu a {
    display: flex;
    align-items: center;
    border: none;
    background: unset;
  }
  .menu #main-menu a:hover {
    text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff;
  }

  .languages {
    display: flex;
  }
  .languages a {
    padding: unset;
    font-size: 15px;
  }
  .languages a:not(:first-child):before {
    content: "";
    height: 20%;
    width: 1px;
    margin: auto 5px;
    display: block;
    background-color: #fff;
  }

  .row-3 {
    margin-bottom: 145px;
  }
  .row-3 .container > div {
    display: flex;
  }
  .row-3 .container .col {
    width: 24%;
  }
  .row-3 .container .col:not(:last-child) {
    margin-right: 1%;
  }

  #accessories .carousel {
    width: 100%;
  }
  #accessories .carousel-items {
    width: 90%;
    margin: auto;
    display: flex;
  }
  #accessories .carousel-items .item {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 0;
  }
  #accessories .carousel-items .item p {
    font-size: 25px;
    text-align: center;
  }
  #accessories .arrow > div {
    width: 3%;
    background-color: unset;
    top: 30%;
  }
  #accessories .arrow > div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
  }

  #gallerie {
    padding-bottom: 70px;
  }

  .image-grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-grid-container img {
    width: 30%;
    max-width: 288px;
    max-height: 288px;
    height: 100%;
    margin: 0 auto 0 auto;
    margin-bottom: 70px;
  }

  #experiences-banner {
    margin-bottom: 148px;
  }
  #experiences-banner p {
    top: 60%;
  }

  .article {
    margin-bottom: 115px;
  }
  .article .content {
    display: flex;
  }
  .article .content > div {
    padding: 60px 55px 60px 0;
  }
  .article .content > div:nth-child(2) {
    padding-top: 60px;
  }
  .article .content > div:nth-child(1) {
    padding-left: 60px;
  }
  .article .content > div > p {
    padding: 55px 45px !important;
  }

  #actualites {
    flex-wrap: wrap;
  }
  #actualites .block {
    margin: 0 7.5%;
    width: 23.3333%;
    margin-bottom: 140px;
  }
  #actualites .block:nth-child(3n+1) {
    margin-right: 0;
  }
  #actualites .block:nth-child(3n) {
    margin-left: 0;
  }
  #actualites .block:nth-child(7), #actualites .block:nth-child(8), #actualites .block:nth-child(9) {
    margin-bottom: 20px;
  }

  .mrgn-bt-0#experiences-banner {
    margin-bottom: 0;
  }

  .footer-menu {
    background-color: #575757;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-menu > div {
    width: 20%;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
