
#contact-banner {
	position: relative;
	overflow: hidden;

	.banner-blur {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

		img {
			width: 100%;
			height: 100%;
		}

	}

	p {
		position: absolute;
		top: 60%;

		font-size: 40px;
		color: $white;
		font-family: Oswald;

		&,
		&:after {
			text-shadow: 0 7px 10px #bdbdbd;
		}

		&:after {
			content: '';
			width: 100%;
			height: 4px;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: $white;
		}

		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.contact-form {
	padding: 90px 0;

	.container {
		flex-direction: column;
	}

	p {
		text-align: center;
		font-family: Cantarell;
		font-weight: $regular;
		font-size: 20px;
		color: black;

	}

	form {
		width: 90%;
		margin: 85px auto 10px auto;

		>*:not(:last-child) {
			margin-bottom: 22px
		}

		input,
		textarea {
			display: block;
			border: none;
			background-color: #eceff2;
			// width: 50%;
			width: 100%;
			height: 35px;
			padding: 0 2%;

			&:focus {
				outline: none;
			}
		}

		textarea {
			width: 100%;
			height: unset;
			padding: 10px 2%;

		}

		color: black;

		p {
			text-align: unset;
		}

		input[type='submit'] {
			color: $grey;
			// padding: 20px 40px;
			background-color: unset;
			border: solid 1px $grey;
			font-size: 20px;
			max-width: 154px;

			// padding: 10px 30px;
			&:focus {
				outline: none;
			}
		}
	}
}

