

.article {
	flex-direction: column;
	margin-bottom: 50px;

	p {
		font-family: Cantarell;
		font-size: 15px;
		color: $black;
	}

	.content {
		background-color: #f2efe9;

		div {
			padding: 60px 55px;

			&:nth-child(2) {
				padding-top: 0;

				p {
					padding: 20px;
					background-color: $white;
				}
			}
		}
	}

	.title {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		padding: 20px 18px 25px 18px;
		width: 100%;

		.icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 2%;
		}

		p {
			font-family: Oswald;
			font-weight: $regular;
			font-size: 37px;
			text-shadow: 0 2px 5px $grey;
			color: $white;
		}
	}

}

.article-1 {
	.title {
		background-image: url('../img/experiences-closed-tab/article1.jpg');
	}

}

.article-2 {
	.title {
		background-image: url('../img/experiences-closed-tab/hotelsandlocations.jpg');
	}

}

.article-3 {
	.title {
		background-image: url('../img/experiences-closed-tab/evements.jpg');
	}

}

.article-4 {
	.title {
		background-image: url('../img/experiences-closed-tab/ad.jpg');
	}

}
