.slider.banner {
	width: 100%;
	position: relative;
	.container {
		position: absolute;

		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
	}
}
.slide-image {
	animation: fade 5s;
	width: 100%;
	height: auto;

	img {
		height: 100%;
		width: 100%;
	}
}
.dot {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

	span {
		width: 10px;
		height: 10px;
		border: solid $white 1px;
		border-radius: 50%;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.active {
			background-color: $white;
		}
	}
}
.direction {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 50px;
	transform: translate(-50%, -50%);

	.prev {
		position: inherit;
		left: 0;
		top: 0;
	}

	.next {
		position: inherit;
		top: 0;
		right: 0;
	}
}

.row {
	width: 100%;
	height: auto;
}
.row-1 {
	img {
		width: 100%;
		height: 100%;
	}

	.container {
		flex-direction: column;
		padding-top: 40px;

		>*:not(:first-child) {
			margin-top: 30px;
		}

		.col {
			>*:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
}

.row-2 {
	margin-bottom: 70px;

	img {
		width: 100%;
		height: auto;
	}

	.container {
		flex-direction: column;
	}

	.block {
		position: relative;

		>div {
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			h3 {
				a {
					color: $white;
				}
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.container>h2 {
	margin-bottom: 35px;
	&:after {
		content: "";
		height: 2px;
		width: 78px;
		background-color: $grey;
		display: block;
		margin-top: 10px;
	}
}

.row-3 {
	margin-bottom: 40px;
	.container {
		flex-direction: column;
		.col {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2 {
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}

			>*:not(:last-child) {
				margin-bottom: 20px;
			}

			&:not(:last-child) {
				margin-bottom: 30px;
			}

			p {
				width: 78.5%;
				text-align: justify;
            }
            
			.thumbnail-image {
				width: 100%;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


