#actualites {
	flex-wrap: wrap;

	.block {
		>* {
			margin-bottom: 35px;
		}

		margin: auto;
		width: 80%;

		img {
			width: 100%;
		}

		p {
			color: $grey;
		}

		.title {
			text-align: center;
			font-size: 29px;
			font-family: Oswald;
			font-weight: $regular;


		}

		.text {
			text-align: justify;
			font-size: 16px;
			font-family: Cantarell;
		}

		.button {
			width: 65%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}