#specifications {
	background-image: url('../img/produit/photocustomer.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;

	.container {
		justify-content: center;
		padding: 10%;

		h1 {
			a {
				color: $white;
				text-decoration: underline;
				transition: 0.2s;
				font-weight: lighter;

				&:hover {
					color: darken($white, 70%);
				}
			}
		}
	}

	.button {
		position: absolute;
		bottom: 5%;
		right: 3.75%;
		background-color: $white;

		a {
			border: none;
			color: $red;
			// font-size: 27px;
			font-size: 14px;
			font-weight: $regular;
			font-family: Oswald;

			&:hover {
				background-color: $red;
				color: $white;
			}
		}
	}
}

