@font-face {
  font-family: 'Oswald Light';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(<a href="http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff">http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzT...</a>) format('woff');
}
@font-face {
  font-family: 'Oswald Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(<a href="http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff">http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvO...</a>) format('woff');
}
@font-face {
  font-family: 'Oswald Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(<a href="http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff">http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMj...</a>) format('woff');
}